{% extends '::frontend.html.twig' %}

{% block content %}
<form action="{{ path('order_order_return',{"gateway":"PagSeguro"})}}" method="post">
    {% for parameter in parameters %}
        <input type="text" name="{{parameter.nome}}" value="{{ parameter.valor}}"/>
    {% endfor %}
        <input type="submit" />
</form>
{% endblock %}
 