{% extends '::frontend.html.twig' %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="span11">
            <h3>Tamanhos disponíveis:</h3>
            <br/>
        </div>
    </div>
    <div class="span12">
        <img class="floatL" src="/bundles/bannercore/images/arranhaceu/300x600.jpg" style="margin-left: 10px;"/>
        <img class="floatL" src="/bundles/bannercore/images/arranhaceu/160x600.jpg" style="margin: 0 50px;" />
        <img class="floatR" src="/bundles/bannercore/images/anuncios/300x250.jpg" style="margin-right: 10px;"/>
        <img class="floatR" src="/bundles/bannercore/images/anuncios/250x250.jpg" style="margin-right: 10px;" />
        <img class="floatR" src="/bundles/bannercore/images/banners/234x60.jpg"  style="margin-right: 10px;"/>
        <img class="center" src="/bundles/bannercore/images/anuncios/720x300.jpg" />
        <img class="center" src="/bundles/bannercore/images/banners/728x90.jpg" />
        <img class="floatL" src="/bundles/bannercore/images/anuncios/336x280.jpg" style="margin-left: 10px;" />
        <img class="floatL" src="/bundles/bannercore/images/anuncios/300x100.jpg" style="margin: 0 40px;"/>
        <img class="floatR" src="/bundles/bannercore/images/arranhaceu/120x600.jpg" style="margin-right: 10px;" />
        <img class="floatL" src="/bundles/bannercore/images/anuncios/240x400.jpg" style="margin: 0 70px;"/>
        <img class="floatL" src="/bundles/bannercore/images/banners/120x240.jpg"  style="margin-left: 10px; margin-top: -240px;"/>
        <img class="floatL" src="/bundles/bannercore/images/anuncios/180x150.jpg"  style="margin:-240px 40px 0;"/>
        <img class="floatL" src="/bundles/bannercore/images/banners/81x31.jpg" style="margin: -60px 0 30px 90px;"/>
        <img class="floatL" src="/bundles/bannercore/images/banners/468x60.jpg" style="margin-left: 10px;" />
    </div>
</div>
{% endblock %}