{% extends '::frontend.html.twig' %}

{% block content %}
<div>
    <h5>Tamanhos disponíveis:</h5>
    <table>
        <tr>
            <td>
                <img src="/bundles/bannercore/images/anuncios/300x100.jpg" />
            </td>
            <td>
                <img class="center" src="/bundles/bannercore/images/banners/81x31.jpg" />
            </td>
            <td class="floatR">
                <img src="/bundles/bannercore/images/banners/468x60.jpg" />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <img src="/bundles/bannercore/images/anuncios/336x280.jpg" />
            </td>
            <td>
                <img class="center" src="/bundles/bannercore/images/banners/234x60.jpg" /><br />
                <img class="center" src="/bundles/bannercore/images/anuncios/180x150.jpg" />
            </td>
            <td class="floatR">
                <img src="/bundles/bannercore/images/anuncios/300x250.jpg" />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <img src="/bundles/bannercore/images/anuncios/720x300.jpg" /><br />
                <img src="/bundles/bannercore/images/banners/728x90.jpg" />
            </td>
            <td class="floatR">
                <img src="/bundles/bannercore/images/anuncios/240x400.jpg" />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <img src="/bundles/bannercore/images/arranhaceu/300x600.jpg" />
            </td>
            <td>
                <img src="/bundles/bannercore/images/arranhaceu/160x600.jpg" />
            </td>
            <td>
                <img class="center" src="/bundles/bannercore/images/banners/120x240.jpg" /><br />
                <img class="center" src="/bundles/bannercore/images/anuncios/250x250.jpg" />
            </td>
            <td class="floatR">
                <img src="/bundles/bannercore/images/arranhaceu/120x600.jpg" />
            </td>
        </tr>
    </table>
</div>
{% endblock %}