{% extends 'BannerCoreBundle:themes\\banner\\Frontend:frontend.html.twig' %}
{% block title %}
{{ "Error 404"|trans }}
{% endblock title %}
{% block content %}
<div class="grid_6">
    <h1>{{ "Erro 404"|trans }}</h1>
</div>
<div class="grid_6">
    <div class='info_box info'><b>{{ "Importante"|trans }}</b><br />{{"Error 404 no Tema Banner"|trans }}</div>
</div>
{% endblock content %}
