{% extends 'BannerCoreBundle:themes\\banner\\Frontend:frontend.html.twig' %}
{% block title %}
{{ "Erro 404"|trans }}
{% endblock title %}
{% block content %}
<div class="grid_6">
    <h1>{{ "Exception Full"|trans }}</h1>
</div>
<div class="grid_6">
    <div class='info_box info'><b>{{ "Importante"|trans }}</b><br />{{"Exception Full no Tema Banner"|trans }}</div>
</div>
{% endblock content %}
