img.disab {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);   
}
ul.size{
    left: -100px;
    width:10px;
    padding:0;
    list-style:none;
    overflow:hidden;
    position:absolute;
    background-color: lightgrey;
    z-index:2;
    margin: 0 0 0 0;
    font:14px FreightSansProLight,Arial,Helvetica,sans-serif;
}
a.link-size {
    left:10px;
    float:left;
    text-align:center;
    font-style:normal;
    padding:3px 3px 3px;
}
a.link-size:hover {
    left:20px !important;
    float:left;
    text-align:center;
    font-style:normal;
    padding:3px 3px 3px;
    background-color: lightgrey !important;
    
}
li{
    padding:6px 7px 7px;
}
span {
	float:left;
	width:35px;
	text-align:center;
}
em {
	float:left;
	width:40px;
	text-align:center;
	font-style:normal;
}
.banner {
    float:left !important;
}
a.selectButton {            
    background: none repeat scroll 0 0 #EEEEEE;
    position: relative;
    right: 0;
    left:-10px;    
    height: 17px;
    top: 0;
    width: 15px;    
    outline: medium none;
    text-decoration: underline;
    margin: -5px 0 0 0 !important;
}