img.disab {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);   
}
ul.size{
    left: -150px;
    width:10px;
    padding:0;
    list-style:none;
    overflow:hidden;
    position:absolute;
    background-color: lightgrey;
    z-index:2;
    margin: 0 0 0 0;
    font:14px FreightSansProLight,Arial,Helvetica,sans-serif;
}
a.link-size {
    left:10px;
    float:left;
    text-align:center;
    font-style:normal;
    padding:3px 3px 3px;
}
a.link-size:hover {
    left:20px !important;
    float:left;
    text-align:center;
    font-style:normal;
    padding:3px 3px 3px;
    background-color: #CCCCCC !important;
    
}
span.tamanho {
	float:left;
	width:35px;
	text-align:center;
}
span.price {
    margin-left: 10px;
}
em {
	float:left;
	width:60px;
	text-align:center;
	font-style:normal;
}
.banner {
    float:left !important;
}
a.selectButton {            
    background: none repeat scroll 0 0 #CCCCCC;
    position: relative;
    right: 0;
    height: 12px;
    top: 0;
    width: 15px;    
    border-radius: 0px 8px 8px 0px !important; 
    outline: medium none;
    text-decoration: underline;
    margin: 0 !important;
    border: 1px;
}
a.selectButton:hover {            
    background: #DDDDDD !important;
}
#size {
    width: 0px;
    height: 0px;
    display:none;
}
.required{
    font-weight: 600;
    font-size: 13px;    
}
input, textArea{
    width: 500px; 
    border-radius: 8px !important;
    box-shadow: 1px 1px 3px #BBBBBB inset !important;
}
.background{
    background-color: #EEEEEE;
    width: 936px;
    float: right;
    border-radius: 8px;
}
.order li.active a{
    background-color: #EEEEEE !important;
    border: 0px
}
.order li.active a:hover{
    border: 0px;
}
.order li a{
    width: 120px;
}
.order li a:hover{
    border: 0px;
}
.order li{
    margin-right: -30px;
    border: 0px
}
.order{
    border-right: none !important;
}
.pack{
    height: 50px;
    width: 550px;
}
#pack1{
    background-color: yellow;
    color: blue;
}
#pack2{
    background-color: orange;
    color:purple;
}
#pack3{
    background-color: darkorange;
    color: red;
}
#pack4{
    background-color: red;
    color: darkorange;
}
#pack5{
    background-color: purple;
    color: orange;
}
#pack6{
    background-color: blue;
    color: yellow;
}
