{% extends '::frontend.html.twig' %}

{% block content %}
<div class="span11">
    <h1>FAQ</h1><br />
    <h4>Sobre WebBanner</h4>
    <ul>
        <li><a href="/faq/sobre#oquee">O que é o WebBanner ?</a></li>
        <li><a href="/faq/sobre#quemtrabalha">Quem trabalha no WebBanner?</a></li>
        <li><a href="/faq/sobre#vantagens">Quais as vantagens de contratar o serviço do WebBanner?</a></li>
        <li><a href="/faq/sobre#tipos">Que tipo de banners o WebBanner faz?</a></li>
        <li><a href="/faq/sobre#sugestoes">O WebBanner aceita sugestões?</a></li>
        <li><a href="/faq/sobre#facebook">O WebBanner tem página no facebook?</a></li>
        <li><a href="/faq/sobre#twitter">O WebBanner tem twitter?</a></li>
    </ul>
    <h4>Cadastro</h4>
    <ul>
        <li><a href="/faq/cadastro#sercliente">Como faço para ser um cliente?</a></li>
        <li><a href="/faq/cadastro#esquecisenha">Esqueci minha senha. O que faço agora?</a></li>
        <li><a href="/faq/cadastro#alteraremail">Quero alterar meu e-mail, é possível?</a></li>
        <li><a href="/faq/cadastro#mudarsenha">Posso mudar minha senha?</a></li>
    </ul>
    <h4>Formas de pagamento e preços</h4>
    <ul>
        <li><a href="/faq/pagamento#formas">Quais são as formas de pagamento no WebBanner?</a></li>
        <li><a href="/faq/pagamento#precos">Quais os preços dos banners?</a></li>
        <li><a href="/faq/pagamento#descontos">Tenho desconto em grandes compras?</a></li>
    </ul>
    <h4>Entrega</h4>
    <ul>
        <li><a href="/faq/entrega#recebimento">Como vou receber meus banners contratados?</a></li>
        <li><a href="/faq/entrega#prazo">Qual o prazo de entrega dos banners?</a></li>
        <li><a href="/faq/entrega#rush">Eu tenho pressa, como posso receber meus banners mais depressa?</a></li>
    </ul>
    <h4>Envio de imagens e textos para WebBanner</h4>
    <ul>
        <li><a href="/faq/envio#imagens">Preciso enviar imagens?</a></li>
        <li><a href="/faq/envio#textos">Preciso enviar textos?</a></li>
        <li><a href="/faq/envio#tamanho">As imagens tem tamanho máximo em Mb?</a></li>
        <li><a href="/faq/envio#tipos">Que tipo de arquivos posso enviar para o WebBanner?</a></li>
        <li><a href="/faq/envio#redimensionar">Minha imagem está acima do tamanho permitido e em outro tipo de arquivo, o que posso fazer?</a></li>
        <li><a href="/faq/envio#marcadagua">Quero enviar uma imagem que tem marca dágua, fundo colorido que eu não quero ou está muito pequena, posso?</a></li>
        <li><a href="/faq/envio#tamanhopadrao">As imagens que vou enviar para o WebBanner tem tamanho pré definido?</a></li>
    </ul>
    <h4>Sobre sua campanha</h4>
    <ul>
        <li><a href="/faq/campanha#revisao">Posso fazer revisão do projeto solicitado?</a></li>
        <li><a href="/faq/campanha#minimo">Posso pedir somente um banner?</a></li>
        <li><a href="/faq/campanha#formatos">Quais os formatos de banners mais usados em campanhas na Web?</a></li>
        <li><a href="/faq/campanha#flash">Posso solicitar banners em flash?</a></li>
        <li><a href="/faq/campanha#editar">Posso editar um banner feito pelo WebBanner?</a></li>
        <li><a href="/faq/campanha#acrescentar">Já efetuei meu pedido, agora desejo acrescentar mais uma solicitação na mesma campanha. É possível?</a></li>
    </ul>
    <h4>Sua dúvida não consta em nosso FAQ?</h4>
    <div class="span11">
        Entre em contato que teremos prazer em atende-lo.
    </div>
</div>
{% endblock %}