{% extends '::frontend.html.twig' %}

{% block content %}
<div class="span11">
    <h1>FAQ</h1>
    <br />
    <h3>Sobre sua campanha</h3>
    <br />
    <div id="imagens">
        <h4>Preciso enviar imagens?</h4>
        <div class="span11">
            Se você tiver imagens para disponibilizar, envie, nossos designers vão utiliza-las no banner ou como orientação do trabalho. Caso contrário, vamos utilizar imagens do nosso próprio banco de dados. Se desejar incluir seu logotipo, por favor, envia-lo. A qualidade da imagem é fator bastante importante na criação da sua campanha.
            <br /><br />
        </div>
    </div>
    <div id="textos">
        <h4>Posso fazer revisão do projeto solicitado?</h4>
        <div class="span11">
            Sim você tem direito a fazer uma revisão no banner escolhido dos três que enviaremos. Somente depois da aprovação do conceito iremos elaborar os demais banners se contratados.
            <br /><br />
        </div>
    </div>
    <div id="tamanho">
        <h4>Posso pedir somente um banner?</h4>
        <div class="span11">
            Sim, nosso sistema não tem limite mínimo de quantidade de banners contratados por campanha.
            <br /><br />
        </div>
    </div>
    <div id="tipos">
        <h4>Quais os formatos de banners mais usados em campanhas na Web?</h4>
        <div class="span11">
            Os tamanhos mais utilizados na web são: <br/>
            300x250/728x90/160x600/120x600/468x60/250x250/720X300/336x280/234x60/300x100/300x600/180x150/88x31
            <br /><br />
        </div>
    </div>
    <div id="redimensionar">
        <h4>Posso solicitar banners em flash?</h4>
        <div class="span11">
            Não, fazemos apenas banners estáticos compostos de imagens e textos, sem animacão.
            <br /><br />
        </div>
    </div>
    <div id="marcadagua">
        <h4>Posso editar um banner feito pelo WebBanner?</h4>
        <div class="span11">
            Sim, na compra de um banner você pode setar a opção "PSD" que na conclusão do projeto você receberá o arquivo aberto no Photoshop o que possibilitará a edição do seu banner.
            <br /><br />
        </div>
    </div>
    <div id="tamanhopadrao">
        <h4>Já efetuei meu pedido, agora desejo acrescentar mais uma solicitação na mesma campanha. É possível?</h4>
        <div class="span11">
            No momento em que você finaliza sua compra seu pedido é fechado para que você possa efetuar o pagamento. A partir disso não é mais possível acrescentar banners na sua solicitação. Se você desejar pedir mais banners terá que fazer um novo pedido.
            <br /><br />
        </div>
    </div>
    <btn href="#" class="btn" onclick="javascript:history.go(-1); return false;">Voltar</btn>
</div>
{% endblock %}