{% extends '::frontend.html.twig' %}

{% block content %}
<div class="span11">
    <h1>FAQ</h1>
    <br />
    <h3>Envio</h3>
    <br />
    <div id="imagens">
        <h4>Preciso enviar imagens?</h4>
        <div class="span11">
            Se você tiver imagens para disponibilizar, envie, nossos designers vão utiliza-las no banner ou como orientação do trabalho. Caso contrário, vamos utilizar imagens do nosso próprio banco de dados. Se desejar incluir seu logotipo, por favor, envia-lo. A qualidade da imagem é fator bastante importante na criação da sua campanha.
            <br /><br />
        </div>
    </div>
    <div id="textos">
        <h4>Preciso enviar textos?</h4>
        <div class="span11">
            Você pode nos dar uma noção geral do que deseja ou ser bem específico. Se souber exatamente o que deseja pode nos dar instruções detalhadas do projeto de seu banner, dessa forma, nossos designers vão seguir as instruções. Se você não tem certeza do que deseja, forneça o máximo de informação que tiver da sua campanha que desta forma nossa equipe cuidará de todo o resto.
            <br /><br />
        </div>
    </div>
    <div id="tamanho">
        <h4>As imagens tem tamanho máximo em MB?</h4>
        <div class="span11">
            Sim, você pode enviar arquivos até 3MB.
            <br /><br />
        </div>
    </div>
    <div id="tipos">
        <h4>Que tipo de arquivos posso enviar para o WebBanner?</h4>
        <div class="span11">
            Você pode enviar arquivos os seguintes formatos: JPG / GIF / PNG / PSD
            <br /><br />
        </div>
    </div>
    <div id="redimensionar">
        <h4>Minha imagem está acima do tamanho permitido e em outro tipo de arquivo, o que posso fazer?</h4>
        <div class="span11">
            Existem alguns serviços on-line gratuitos para redimensionar imagens . Nós pesquisamos e achamos e achamos um serviços fácil, prático e rápido, experimente.<br/>
            <a href="http://www.splashup.com/" target="_blank">Serviço Splashup</a> - Interface em inglês.
            <br /><br />
        </div>
    </div>
    <div id="marcadagua">
        <h4>Quero enviar uma imagem que tem marca dágua, fundo colorido que eu não quero ou está muito pequena, posso?</h4>
        <div class="span11">
            Não, pois nossa equipe não irá limpar as imagens enviadas. Caso queira uma imagem específica ela tem que ser enviada com qualidade para ser usada.
            <br /><br />
        </div>
    </div>
    <div id="tamanhopadrao">
        <h4>As imagens que vou enviar para o WebBanner tem tamanho pré definido?</h4>
        <div class="span11">
            Não, você pode mandar qualquer tamanho de imagem desde que não ultrapasse Xkb, lembrando que a boa qualidade da imagem é fator importante para criação da sua campanha.
            <br /><br />
        </div>
    </div>
    <btn href="#" class="btn" onclick="javascript:history.go(-1); return false;">Voltar</btn>
</div>
{% endblock %}