{% extends '::frontend.html.twig' %}

{% block content %}
<div class="span11">
    <h1>FAQ</h1>
    <br />
    <h3>Entrega</h3>
    <br />
    <div id="recebimento">
        <h4>Como vou receber meus banners contratados?</h4>
        <div class="span11">
            Todos os arquivos gerados pelo WebBanner, desde os estudos até a finalização da campanha, serão postados no seu perfil e poderão ser baixados ou consultados a qualquer momento.
            <br /><br />
        </div>
    </div>
    <div id="prazo">
        <h4>Qual o prazo de entrega dos banners?</h4>
        <div class="span11">
            Após a confirmação do pagamento pelo PagSeguro, nossa equipe irá disponibilizar em até X horas úteis três ideias desenvolvidas para a sua campanha.<br />
            Você terá o tempo que achar necessário para escolher a idéia que mais lhe agrada, fazer a revisão a que tem direito e postar seus comentários.<br />
            Após suas definições, a nossa equipe ira disponibilizar os arquivos finais para download em até X horas úteis.
            <br /><br />
            Resumindo, nosso trabalho leva até x horas úteis, mas depende do tempo da sua escolha e revisão para ser finalizado.
            <br /><br />
        </div>
    </div>
    <div id="rush">
        <h4>Eu tenho pressa, como posso receber meus banners mais depressa?</h4>
        <div class="span11">
            Quando for fazer seu pedido, escolha a opção "Rush" que o prazo de entrega cai pela metade, entregaremos seus banners em x horas após a confirmação do pagamento.<br/>
            Mas lembre-se, dependemos da sua escolha do modelo proposto e de seus comentários para finalizar seu pedido. Quanto mais você demorar para fazer suas opções mais tempo iremos demorar para entregar.
            <br /><br />
        </div>
    </div>
    <btn href="#" class="btn" onclick="javascript:history.go(-1); return false;">Voltar</btn>
</div>
{% endblock %}