{% extends '::frontend.html.twig' %}

{% block content %}
<div class="span11">
    <h1>FAQ</h1>
    <br />
    <h3>Formas de pagamento e preços</h3>
    <br />
    <div id="formas">
        <h4>Quais são as formas de pagamento no WebBanner?</h4>
        <div class="span11">
            Qualquer que seja a sua escolha o pagamento será feito pelo PagSeguro da UOL. Com o PagSeguro da UOL o Webbanner aceita todos os cartões de crédito ou de débito, transferências bancárias, boletos. Você encontra as opções de pagamento e parcelamento no momento em que clicar no botão "pagar".<br/>
            Saiba mais sobre o sistema do <a href="https://pagseguro.uol.com.br/" target='_blank'>PagSeguro</a> da UOL
            <br /><br />
        </div>
    </div>
    <div id="precos">
        <h4>Quais os preços dos banners?</h4>
        <div class="span11">
            O valor unitário é R$ 80,00 mas optando pelos pacotes o valor unitário cai pois em cada pacote você ganha banners free, veja abaixo:<br/>
            Valores dos pacotes:
            <br/><br/>
            <b>Free 1</b> - Neste pacote você paga por dois banners e nós fazemos três, você ganha um banner.<br/>
            Modelos (300x250/728x90/160x600)<br/>
            R$ 160,00
            <br/><br/>
            <b>Free 2</b> - Neste pacote você paga por três banners e nós fazemos cinco, você ganha dois banner.<br/>
            Modelos (300x250/728x90/160x600/120x600/468x60)<br/>
            R$ 240,00
            <br/><br/>
            <b>Free 3</b> - Neste pacote você paga por quatro banners e nós fazemos sete, você ganha três banner.<br/>
            Modelos (300x250/728x90/160x600/120x600/468x60/250x250/720X300)<br/>
            R$ 320,00
            <br/><br/>
            <b>Free 4</b> - Neste pacote você paga por cinco banners e nós fazemos nove, você ganha quatro banner.<br/>
            Modelos (300x250/728x90/160x600/120x600/468x60/250x250/720X300/336x280/234x60)<br/>
            R$ 400,00
            <br/><br/>
            <b>Free 5</b> - Neste pacote você paga por seis banners e nós fazemos onze, você ganha cinco banner.<br/>
            Modelos (300x250/728x90/160x600/120x600/468x60/250x250/720X300/336x280/234x60/300x100/300x600)<br/>
            R$ 480,00
            <br/><br/>
            <b>Free 6</b>- Neste pacote você paga por sete banners e nós fazemos treze, você ganha seis banner.<br/>
            Modelos (300x250/728x90/160x600/120x600/468x60/250x250/720X300/336x280/234x60/300x100/300x600/180x150/88x31)<br/>
            R$ 560,00
            <br /><br />
        </div>
    </div>
    <div id="descontos">
        <h4>Tenho desconto em grandes compras?</h4>
        <div class="span11">
            O WebBanner disponibiliza alguns pacotes promocionais. <a href="_package">Ver valores dos pacotes.</a>
            <br />
        </div>
    </div>
    <btn href="#" class="btn" onclick="javascript:history.go(-1); return false;">Voltar</btn>
</div>
{% endblock %}