{% extends '::frontend.html.twig' %}

{% block content %}
<div class="span11">
    <h1>FAQ</h1>
    <br />
    <h3>Sobre Webbanner</h3>
    <br />
    <div id="oquee">
        <h4>O que é o WebBanner ?</h4>
        <div class="span11">
            O Webbanner  é um sistema dedicado à criação de banners digitais, de uma maneira criativa, visando uma boa publicidade de alto impacto para a geração de tráfego e divulgação de sua marca.<br/>
            Você pode pedir diferentes tipos de banners em diferentes tamanhos. O sistema é destinado a donos de websites, empresários e até mesmo à web designers que querem terceirizar uma parte do seu trabalho.
            <br />
            <br />
        </div>
    </div>
    <div id="quemtrabalha">
        <h4>Quem trabalha no WebBanner?</h4>
        <div class="span11">
            Contamos com uma equipe especializada de web designers focada na criação de banners para campanhas web. Nossa equipe tem como foco potencializar o resultado de suas campanhas.
            <br /><br />
        </div>
    </div>
    <div id="vantagens">
        <h4>Quais as vantagens de contratar o serviço do WebBanner?</h4>
        <div class="span11">
            <ul>
                <li>No Webbanner solicitar uma banner é fácil, prático e rápido.</li>
                <li>Você pode conseguir mais tráfego para seu site e aumentar as vendas. Através de um banner a mensagem que deseja transmitir é colocada diretamente em frente ao usuário através de textos simples e imagens, mensagem direta que incentiva cliques em seu site, e pode, portanto, levar a conversão.</li>
                <li>O banner é uma ótima maneira de anunciar novos produtos. Se você estiver lançando um novo produto ou serviço, com esta forma de publicidade será capazes de dizer exatamente o que você quer através de textos simples, e imagens.</li>
                <li>Pode ajudar a estabelecer e construir uma marca.</li>
                <li>Através de banners eficazes, as pessoas serão capazes de aprender sobre o seu negócio reconhecer o seu logotipo e identificar a linguagem do site.</li>
                <li>Banner na verdade são anúncios, e podem ajudar uma empresa ou um produto encontrar novos clientes.</li>
                <li>Quando uma pessoa usa um motor de busca ela precisa saber procurar e também saber o nome da empresa ou produto, mas através do uso de banners você pode efetivamente colocar a mensagem direto do seu site ou produto na frente deles. Esta é uma ótima maneira de ganhar novos clientes.</li>
                <li>Ótimas formas de pagamento.</li>
            </ul>
            <br />
        </div>
    </div>
    <div id="tipos">
        <h4>Que tipo de banners o WebBanner faz?</h4>
        <div class="span11">
            Fazemos banners estáticos compostos de imagens e textos, sem animação.
            <br /><br />
        </div>
    </div>
    <div id="sugestoes">
        <h4>O WebBanner aceita sugestões?</h4>
        <div class="span11">
            Sim, aceitamos sugestões! Basta acessar nosso formulário de contato e enviar sua sugestão por e-mail. Assim que possível entraremos em contato.
            <br /><br />
        </div>
    </div>
    <div id="facebook">
        <h4>O WebBanner tem página no facebook?</h4>
        <div class="span11">
            Sim, colocar o endereço aqui.
            <br /><br />
        </div>
    </div>
    <div id="twitter">
        <h4>O WebBanner tem twitter?</h4>
        <div class="span11">
            Sim, colocar o endereço aqui.
            <br /><br />
        </div>
    </div>
    <btn href="#" class="btn" onclick="javascript:history.go(-1); return false;">Voltar</btn>
</div>
{% endblock %}