{% extends 'BannerCoreBundle:themes\\banner\\Frontend:frontend.html.twig' %}

{% block content %}
    <div class="span3">
        <h3>O que é Webbanners?</h3>
        Nós desenvolvemos sua campanha virtual personalizada, com comunicação 100% virtual, seguindo suas exigencias. <br /><a href="{{path('_order_order_index')}}">Peça já o seu!</a>
    </div>
    <div class="span3">
        <h3>Agilidade no desenvolvimento</h3>
        Contamos com profissionais de designer que desenvolverão sua campanha em 72horas e você ainda pode solicitar que agilize seu pedido para 24h por apenas R$ {{mastop_param('order.order.Rush')|number_format(2,'.',',')}}/banner.
    </div>
    <div class="span3">
        <h3>Solicite o arquivo PSD</h3>
        Ter essa opção é muito útil, pois ao ter o arquivo PSD é possível a exportação para outros formatos e simples alterações que você possa fazer em casa. Somente R$ {{mastop_param('order.order.PSDBanner')|number_format(2,'.',',')}}/banner.
    </div>
    <div class="span10">
        <h3>Qualidade e atendimento</h3>
        Nosso clientes são muito importantes. Prezamos pela qualidade de nossos trabalhos e o melhor atendimento pra você. <br />Procuramos sempre atualizar nosso atendimento e nossos sistemas para melhor atendê-los.
    </div>
{% endblock %}
