/*Fonte para a linha abaixo: http://www.vcarrer.com/2009/06/1-line-css-grid-framework.html */
.dp50 {width:50%;  float:left;  display: inline;  *margin-right:-1px; }
/* Geral */
.noBG{background: transparent; border: 0; text-shadow:none;}
span.arrow{float: left; background: url('../images/sprite.png') no-repeat -5px -3px; width: 30px; height: 19px; margin-top: 5px; margin-right: 10px;}
.floatL{float: left}
.floatR{float: right !important;}
.m0{margin: 0;}
.m5{margin: 5px;}
.mT5{margin-top: 5px;}
.mB5{margin-bottom: 5px;}
.m10{margin: 10px;}
.mT10{margin-top: 10px;}
.mB10{margin-bottom: 10px;}
.aC{text-align: center;}
.aL{text-align: left;}
.aR{text-align: right;}
.strong{font-weight: 700;}
a:hover{
    text-decoration:none !important;
}
a{
    overflow: hidden;
}

.loading, .ac_loading{background: #f2f2f2 url('/bundles/mastopsystem/images/load.gif') center center no-repeat !important}
.login{
    padding: 10px 20px 11px !important;
    border: 0px !important;
    background-color: transparent !important;
    color: #000000 !important;
    text-align: right;
}
/* Tabelas */
table{width: 100%;}
th{padding: 5px; font-weight: 700; border-bottom: 2px solid #878787; text-align: center; white-space: nowrap;}
td{padding: 3px;}

/*/Geral */

/* Header */
header{
    margin-top: 0px;
}
#hd {/* Div que cobre o header 960 */}
/*todas as cores*/
#logo{ width:343px; height:123px; float: left; margin: 0px 0px 0px 0px; background: url(../images/header/logoWB.png) no-repeat; text-indent: -9999em; }
    /*logado*/
.logged #logo{ width:297px; height:101px; float: left; margin: 0px 0px 0px 0px; background: url(../images/header/logolog.png) no-repeat; text-indent: -9999em; }

#login{height: 28px; text-align: right;}
#menuTop{padding-top: 10px;}
#menuMain{background-color: #FFF; padding:5px; margin-bottom: 20px; color:#F00;}
#menuMain h1, #menuMain h1 small{color:#FFF;}
#breadcrumbs{height: 25px; padding-top: 10px;}
#breadcrumbs div{float: left; margin-right: 5px;}
#breadcrumbs div span{font-weight: 700; font-size: 1.1em;}
#breadcrumbs div a span{font-weight: 400;}
#bannerHome{height: 335px; margin-top: 25px;}
#menuTop ul{margin: 3px 0; float: right; font-size: 1.1em; font-weight: 700}
#menuTop ul li{float: left; margin-left: 10px; list-style: none outside none;}
#menuTop ul li a{color: #FFFFFF; border: 0;}
#menuTop ul li.current a{color: #FFFFFF; text-decoration: none;}
#headUser{text-align: right; margin-top: 5px; height: 32px;}
#headUser span{margin-right: 5px}


body.wbbody #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bghome.jpg) repeat-x;
}
body.wbbody_azul #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgblue.jpg) repeat-x;
}
body.wbbody_amarelo #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgyellow.jpg) repeat-x;
}
body.wbbody_laranja #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgorange.jpg) repeat-x;
}
body.wbbody_roxo #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgpurple.jpg) repeat-x;
}
body.wbbody_verde #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bggreen.jpg) repeat-x;
}
body.wbbody_vermelho #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgred.jpg) repeat-x;
}
body.logged {
    background: url(../images/header/bglogged.jpg);
}
#hdC {
    position: relative;
    top:0px;
    background-color: transparent;
}
#hd a:hover{
    list-style: none outside none;
    color: #FFFFFF ;
}
#hd ul li a{
    color: #FFF;
}
#hd ul li a:hover{
    color: #DDD;
}
#hdC a{
    color: #555;
}
#hdC a:hover{
    color: #999;
}
#Table_header {
    color: #fff;
}
#hd #Table_header {
    position:relative;
    margin-top: 10px;
    padding: 5px;
    height:330px;
    background-color: #e4e4e4;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    text-decoration-color: #FFFFFF;
}
.banner0 #hd #Table_header {
    background-color: #77a610;
}
.banner1 #hd #Table_header {
    background-color: #f78119;
}
.banner2 #hd #Table_header {
    background-color: #00a6da;
}
#hdC #Table_header {
    position:relative;
    margin-top: 10px;
    padding: 5px;
    height:130px;
    background-color: transparent;
    text-decoration-color: #FFFFFF;
}
#hd #header-01_ {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:40px;
    font-size: 16px;
    padding-top: 10px;
}
#hdC #header-01_ {
    position:absolute;
    left:0px;
    top:60px;
    width:100%;
    height:50px;
}
.banner0 #hd #header-01_ {
    background-color: #709c0f;
}
.banner1 #hd #header-01_ {
    background-color: #ed7b16;
}
.banner2 #hd #header-01_ {
    background-color: #029ccc;
}
#header-02_{
    position:absolute;
    left:0px;
    top:0px;
    width:542px;
    height:375px
}
.banner0 #header-02_ {
    background: url(../images/header/bonecoVerde.png) no-repeat;
}
.banner1 #header-02_ {
    background: url(../images/header/bonecoLaranja.png) no-repeat;
}
.banner2 #header-02_ {
    background: url(../images/header/bonecoAzul.png) no-repeat;
}
#header-03_ {
    position:absolute;
    left:15px;
    top:30px;
    width:427px;
    height:155px
}
#hdC #header-03_ {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:50px;
}
#header-04_ {
    position:absolute;
    left:400px;
    height:100px;
    text-align: right;
    width: 500px;
    top: 80px;
    font-size: 40px;
}

#header-05_ {
    position:absolute;
    left:40px;
    height:60px;
    width: 600px;
    top:170px;
    font-size: 20px;
    text-align: left;
}
span.big{
    font-size: 35px;
}
#header-06_{
    position:relative;
    left:430px;
    top:200px;
    height:75px;
    width: 450px;
}
#header-06_ a{
    width:201px; height:60px; float: left; margin: 0px 10px; text-indent: -9999em;
}
#header-06_ a#criar:hover{
    background-position: bottom;
}
#header-06_ a#pacotes:hover{
    background-position: bottom;
}
.banner0 a#criar{
     background: url(../images/header/criarbannerLaranja.png) no-repeat;
}
.banner0 a#pacotes, .banner1 a#pacotes{
    background: url(../images/header/verpacotesAzul.png) no-repeat;
}
.banner1 a#criar, .banner2 a#criar{
    background: url(../images/header/criarbannerVerde.png) no-repeat;
}
.banner2 a#pacotes{
   background: url(../images/header/verpacotesLaranja.png) no-repeat;
}
#header-06_1{
    position:relative;
    left:870px;
    top:200px;
    height:15px;
    width: 50px;
}
#header-06_1 a{
    width:12px; height:13px; float: left; margin: 0px 2px; text-indent: -9999em;
}
#abanner0{
    background: url(../images/slides/pagination.png) no-repeat;
    background-position: top;
}
#abanner1{
    background: url(../images/slides/pagination.png) no-repeat;
    background-position: top;
}
#abanner2{
    background: url(../images/slides/pagination.png) no-repeat;
    background-position: top;
}
.banner0 #abanner0{
    background-position: bottom;
}
.banner1 #abanner1{
    background-position: bottom;
}
.banner2 #abanner2{
    background-position: bottom;
}

#hdC #header-07_ {
    position:absolute;
    left:0px;
    top:100px;
    width: 100%;
    height:40px;
    background-color: #000000
}
#header-07_ {
    position:absolute;
    left:0px;
    top:300px;
    width: 100%;
    height:40px;
    background-color: #000000
}
#header-07_ ul li a{
    color: #DDDDDD;
}
#header-07_ ul li a:hover, #navFoot ul li a:hover{
    list-style: none outside none;
    color: #999;
}
.banner0 #hd #header-07_ ul li a:hover, .banner0 #navFoot ul li a:hover{
    list-style: none outside none;
    color: #77a610;
}
.banner1 #hd #header-07_ ul li a:hover, .banner1 #navFoot ul li a:hover{
    list-style: none outside none;
    color: #f78119;
}
.banner2 #hd #header-07_ ul li a:hover, .banner2 #navFoot ul li a:hover{
    list-style: none outside none;
    color: #00a6da;
}
#header-07_ ul li a:hover{
    background-color: #000;
}
.dropPack {
    left: -83px !important;
    top: 30px !important;
    background-color: #000 !important;
    border-bottom: 0 !important;
}
.navbar .dropPack.dropdown-menu:after {
    border-bottom: 0  !important;
}

.dropPack li a{
    list-style: none outside none !important;
    background-color: #000;
}
/* /Header */

/* Body */
#body {
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    position:relative;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}
.content {
    padding: 15px;
}
#body {

}
.table tbody tr:hover td, .table tbody tr:hover th{
    background-color: #FFF !important;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th{
    background-color: #FFF !important;
}
/* /Body */

/* Footer */
#ft {/* Div que cobre o footer 960 */
    background: url(../images/footer/bg.png) repeat-x;
    margin-top: -20px; }
#ftLogo{width:183px; height:82px; margin-bottom: 0px;}
#ftLogo a{width:183px; height:82px; float: left; background: url(../images/footer/logo.png) no-repeat; text-indent: -9999em; overflow: hidden;}
#navFoot{text-align: left; margin-bottom: 5px; color:#FFFFFF; text-decoration:none}
#navFoot ul{margin: 5px;}
#navFoot ul li{list-style: none outside none; margin-left: 15px; color: #DDDDDD; text-decoration:none}
#navFoot ul li a{list-style: none outside none;  color: #EEEEEE; text-decoration:none}
#navFoot.row{
    margin-top: 30px;
    margin-left: 30px;
}
#navFoot.row .current{
    margin-left: 70px;
}

#copyright {color: #999; font-family: "museo-sans-rounded",sans-serif;}
#poweredBy{text-align: right;}
#poweredBy a{width: 177px; height: 28px; float: right; background: url(../images/footer/mastop-internet-development.png) no-repeat; line-height: 999em; overflow: hidden;}

#Table_footer {
    position:relative;
    width:940px;
    height:300px;
}

#footer-01_ {
    position:absolute;
    width:940px;
    height:50px;
}

#footer-02_ {
    position:absolute;
    left:0px;
    top:50px;
    width:183px;
    height:82px;
}

#footer-03_ {
    position:absolute;
    left:180px;
    top:50px;
    width:760px;
    height:150px;
}
#footer-06_ {
    position:absolute;
    left:0px;
    top:250px;
    width:600px;
    height:49px;
}

#footer-07_ {
    position:absolute;
    left:600px;
    top:250px;
    width:340px;
    height:50px;
}
/* /Footer */