/*Fonte para a linha abaixo: http://www.vcarrer.com/2009/06/1-line-css-grid-framework.html */
.dp50 {width:50%;  float:left;  display: inline;  *margin-right:-1px; }
/* Geral */
.noBG{background: transparent; border: 0; text-shadow:none;}
span.arrow{float: left; background: url('../images/sprite.png') no-repeat -5px -3px; width: 30px; height: 19px; margin-top: 5px; margin-right: 10px;}
.floatL{float: left}
.floatC{float: inherit;}
.floatR{float: right}
.m0{margin: 0;}
.m5{margin: 5px;}
.mT5{margin-top: 5px;}
.mB5{margin-bottom: 5px;}
.m10{margin: 10px;}
.mT10{margin-top: 10px;}
.mB10{margin-bottom: 10px;}
.aC{text-align: center;}
.aL{text-align: left;}
.aR{text-align: right;}
.strong{font-weight: 700;}

.loading, .ac_loading{background: #f2f2f2 url('/bundles/mastopsystem/images/load.gif') center center no-repeat !important}
.login{
    padding: 10px 20px 11px !important;
    border: 0px !important;
    background-color: transparent !important;
    color: #000000 !important;
    text-align: right;
}
/* Tabelas */
table{width: 100%;}
th{padding: 5px; font-weight: 700; border-bottom: 2px solid #878787; text-align: center; white-space: nowrap;}
td{padding: 3px;}

/*/Geral */

/* Header */
header{
    margin-top: 0px;
}
#hd {/* Div que cobre o header 960 */}
    /*cinza*/
.wbbody_cinza #logo{ width:297px; height:101px; float: left; margin: 0px 0px 0px 0px; background: url(../images/header/logohome.png) no-repeat; text-indent: -9999em; }
    /*todas as cores*/
#logo{ width:297px; height:101px; float: left; margin: 0px 0px 0px 0px; background: url(../images/header/logo.png) no-repeat; text-indent: -9999em; }
    /*logado*/
.logged #logo{ width:297px; height:101px; float: left; margin: 0px 0px 0px 0px; background: url(../images/header/logolog.png) no-repeat; text-indent: -9999em; }

#login{height: 28px; text-align: right;}
#menuTop{padding-top: 10px;}
#menuMain{background-color: #FFF; padding:5px; margin-bottom: 20px; color:#F00;}
#menuMain h1, #menuMain h1 small{color:#FFF;}
#breadcrumbs{height: 25px; padding-top: 10px;}
#breadcrumbs div{float: left; margin-right: 5px;}
#breadcrumbs div span{font-weight: 700; font-size: 1.1em;}
#breadcrumbs div a span{font-weight: 400;}
#bannerHome{height: 335px; margin-top: 25px;}
#menuTop ul{margin: 3px 0; float: right; font-size: 1.1em; font-weight: 700}
#menuTop ul li{float: left; margin-left: 10px; list-style: none outside none;}
#menuTop ul li a{color: #FFFFFF; border: 0;}
#menuTop ul li.current a{color: #FFFFFF; text-decoration: none;}
#headUser{text-align: right; margin-top: 5px; height: 32px;}
#headUser span{margin-right: 5px}


body.wbbody #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bghome.jpg) repeat-x;
}
body.wbbody_azul #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgblue.jpg) repeat-x;
}
body.wbbody_amarelo #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgyellow.jpg) repeat-x;
}
body.wbbody_laranja #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgorange.jpg) repeat-x;
}
body.wbbody_roxo #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgpurple.jpg) repeat-x;
}
body.wbbody_verde #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bggreen.jpg) repeat-x;
}
body.wbbody_vermelho #hd {
    position: relative;
    top:0px;
    background: url(../images/header/bgred.jpg) repeat-x;
}
body.logged {
    background: url(../images/header/bglogged.jpg);
}
#hdC {
    position: relative;
    top:0px;
    background-color: transparent;
}
#hd a:hover{
    list-style: none outside none; 
    color: #FFFFFF ;
    text-decoration:none 
}
#hd ul li a{
    color: #111;
}
#hd ul li a:hover{
    color: #444;
    text-decoration:none 
}
#hdC a{
    color: #555;
}
#hdC a:hover{
    color: #999;
    text-decoration:none 
}
#header-06_ ul li a{
    color: #DDDDDD;
}
#header-06_ ul li a:hover{
    list-style: none outside none; 
    color: #999; 
    text-decoration:none 
}
.wbbody_azul #hd #header-06_ ul li a:hover{
    list-style: none outside none; 
    color: #0071da; 
    text-decoration:none 
}
.wbbody_amarelo #hd #header-06_ ul li a:hover{
    list-style: none outside none; 
    color: #ff8a00; 
    text-decoration:none 
}
.wbbody_laranja #hd #header-06_ ul li a:hover{
    list-style: none outside none; 
    color: #df6800; 
    text-decoration:none 
}
.wbbody_roxo #hd #header-06_ ul li a:hover{
    list-style: none outside none; 
    color: #9231c5; 
    text-decoration:none 
}
.wbbody_verde #hd #header-06_ ul li a:hover{
    list-style: none outside none; 
    color: #598101; 
    text-decoration:none 
}
.wbbody_vermelho #hd #header-06_ ul li a:hover{
    list-style: none outside none; 
    color: #e02a00; 
    text-decoration:none 
}
#hd #Table_header {
    position:relative;
    margin-top: 10px;
    padding: 5px;
    height:410px;
    background-color: #e4e4e4;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    text-decoration-color: #FFFFFF;
}
#hd #Table_header {
    position:relative;
    margin-top: 10px;
    padding: 5px;
    height:410px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    text-decoration-color: #FFFFFF;
}
.wbbody_azul #hd #Table_header {
    background-color: #00a6da;
}
.wbbody_amarelo #hd #Table_header {
    background-color: #fcb305;
}
.wbbody_laranja #hd #Table_header {
    background-color: #df6800;
}
.wbbody_roxo #hd #Table_header {
    background-color: #9231c5;
}
.wbbody_verde #hd #Table_header {
    background-color: #598101;
}
.wbbody_vermelho #hd #Table_header {
    background-color: #e02a00;
}
#hdC #Table_header {
    position:relative;
    margin-top: 10px;
    padding: 5px;
    height:130px;
    background-color: transparent;
    text-decoration-color: #FFFFFF;
}
#header-02_ {
    position:absolute;
    left:0px;
    top:-5px;
    width:297px;
    height:101px
}

#hd #header-03_ {
    position:absolute;
    width: 75%;
    top:-5px;
    left:297px;
    height:44px;
}
#hdC #header-03_ {
    position:absolute;
    width: 75%;
    top:60px;
    left:297px;
    height:44px;
}

#header-04_ {
    position:absolute;
    left:297px;
    height:57px;
}

#header-05_ {
    position:relative;
    left:0px;
    top:132px;
    width:100%;
    height:279px;
}

#hdC #header-06_ {
    position:absolute;
    left:0px;
    top:100px;
    width: 100%;
    height:40px;
    background-color: #000000
}
#header-06_ {
    position:absolute;
    left:0px;
    top:381px;
    width: 100%;
    height:40px;
    background-color: #000000
}
/* /Header */

/* Body */
#body {
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    position:relative;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}
.content {
    padding: 15px;
}
#body {
    
}
.table tbody tr:hover td, .table tbody tr:hover th{
    background-color: #FFF !important;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th{
    background-color: #FFF !important;    
}
/* /Body */

/* Footer */
#ft {/* Div que cobre o footer 960 */
    background: url(../images/footer/bg.png) repeat-x;
    margin-top: -20px; }
#ftLogo{width:183px; height:82px; margin-bottom: 0px;}
#ftLogo a{width:183px; height:82px; float: left; background: url(../images/footer/logo.png) no-repeat; text-indent: -9999em; overflow: hidden;}
#navFoot{text-align: left; margin-bottom: 5px; color:#FFFFFF; text-decoration:none}
#navFoot ul{margin: 0px;}
#navFoot ul li{list-style: none outside none; margin-left: 15px; color: #DDDDDD; text-decoration:none}
#navFoot ul li a{list-style: none outside none;  color: #EEEEEE; text-decoration:none}
#navFoot ul li a:hover{list-style: none outside none; color: #0088CC; text-decoration:none }

#copyright {color: #999; font-family: "museo-sans-rounded",sans-serif;}
#poweredBy{text-align: right;}
#poweredBy a{width: 177px; height: 28px; float: right; background: url(../images/footer/mastop-internet-development.png) no-repeat; line-height: 999em; overflow: hidden;}

#Table_footer {
    position:relative;
    width:940px;
    height:300px;
}

#footer-01_ {
    position:absolute;
    width:940px;
    height:50px;
}

#footer-02_ {
    position:absolute;
    left:0px;
    top:50px;
    width:183px;
    height:82px;
}

#footer-03_ {
    position:absolute;
    left:183px;
    top:50px;
    width:757px;
    height:151px;
}

#footer-04_ {
    position:absolute;
    left:0px;
    top:132px;
    width:183px;
    height:69px;
}

#footer-05_ {
    position:absolute;
    left:0px;
    top:201px;
    width:940px;
    height:50px;
}

#footer-06_ {
    position:absolute;
    left:0px;
    top:251px;
    width:720px;
    height:49px;
}

#footer-07_ {
    position:absolute;
    left:720px;
    top:251px;
    width:220px;
    height:49px;
}
/* /Footer */